@mixin flex($direction: row, $align_items: center, $justify_content: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align_items;
    justify-content: $justify_content;
}
