* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 100%;
}
body {
    overflow-x: hidden;
    margin: auto;
    background-color: map-get($map: $colors, $key: c-dark-blue);
    min-height: 100vh;
    font-size: 100%;
    color: map-get($map: $colors, $key: c-white);
    max-width: 200em;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
